doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title File Not Found
        link(rel='stylesheet', type='text/css', href='/css/main.css')
        link(rel='stylesheet', type='text/css', href='/css/main.dark.css')
        script(src='/js/main.js')
    body
        nav
            ul
                li
                    a(href='/') Home
                li
                    a(href='/testimonies') Testimonials
                li
                    a(href='/contact') Schedule Appointment
                li
                    a(href='/admin/contactlog') Contact Log
                li
                    button#toggleTheme Toggle Dark Mode
        h1 File Not Found
        p The request could not be processed
