doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Massage Oriental
        link(rel='stylesheet', type='text/css', href='/css/main.css')
        link(rel='stylesheet', type='text/css', href='/css/main.dark.css')
        script(src='/js/main.js')
        script(src='/js/saleBanner.js')
    body
        nav
            ul
                li
                    a(href='/') Home
                li
                    a(href='/testimonies') Testimonials
                li
                    a(href='/contact') Schedule Appointment
                li
                    a(href='/admin/contactlog') Contact Log
                li
                    button#toggleTheme Toggle Dark Mode

        div#saleBanner(style='display: none;') Sale Message
        h1 Massage Oriental
        h2 Relax, Renew, Rejuvenate
        img(src='/images/main_page.jpg', alt='Company Image', width='500', height='350')

        .text-box
            ol
                strong Services:
                li Table Massage
                li Chair Massage
                li Foot Reflexology

            p 
                strong#main_strong Massage Oriental 
                |  is a gem nestled in the heart of 
                i#location Minnetonka, MN
                | , offering an authentic Chinese massage experience unlike any other. As a proud local small business, we are deeply rooted in the community and are dedicated to providing personalized care and attention to each of our clients. Our team of skilled masseurs and masseuses hail from traditional Chinese massage backgrounds, bringing with them ancient techniques and practices that have been passed down through generations. At Massage Oriental, we believe in the healing power of touch and the profound benefits it can bring to one's mind, body, and spirit.

            p Located in the scenic surroundings of Minnetonka, our serene spa environment is the perfect escape from the hustle and bustle of daily life. We pride ourselves on creating a tranquil space where clients can relax, rejuvenate, and rediscover their inner balance. With a focus on authenticity, our treatments are tailored to individual needs, ensuring that each session is a unique and holistic experience. Whether you're seeking relief from stress, tension, or simply looking to indulge in some self-care, Massage Oriental is your destination for genuine Chinese massage therapy.
