doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Testimonial
        link(rel='stylesheet', type='text/css', href='/css/main.css')
        link(rel='stylesheet', type='text/css', href='/css/main.dark.css')
        script(src='/js/main.js')
    body
        nav
            ul
                li
                    a(href='/') Home
                li
                    a(href='/testimonies') Testimonials
                li
                    a(href='/contact') Schedule Appointment
                li
                    a(href='/admin/contactlog') Contact Log
                li
                    button#toggleTheme Toggle Dark Mode

        .video-container
            iframe(width='560', height='315', src='https://www.youtube.com/embed/shU9Kzn8Fl0?si=Q-_tNgtFKUxkwrON')

        .reviews-container
            // Review 1
            .review
                p.review-body I've been to many massage places over the years, but Massage Oriental in Minnetonka truly stands out. The authentic Chinese techniques they use are a game-changer. I left feeling rejuvenated and in a state of deep relaxation. Highly recommended!
                p.reviewer-name Liam Thompson

            // Review 2
            .review
                p.review-body The ambiance at Massage Oriental is serene and calming. The staff are incredibly professional and attentive. My masseuse had a genuine touch that transported me to a place of peace. I'll definitely be returning.
                p.reviewer-name Samantha Rodriguez

            // Review 3
            .review
                p.review-body Being a local, I'm so glad to have discovered Massage Oriental. Their commitment to authenticity and personalized care is evident in every session. It's become my go-to place for unwinding after a long week.
                p.reviewer-name Aiden Lee

            // Review 4
            .review
                p.review-body I had an amazing experience at Massage Oriental. The masseuse was knowledgeable and took the time to understand my needs. The traditional Chinese techniques they employed worked wonders on my tense muscles. Can't wait for my next visit!
                p.reviewer-name Nina Patel

            // Review 5
            .review
                p.review-body From the moment I walked in, I felt welcomed and at ease. The environment is clean, peaceful, and the aroma is soothing. The massage itself was a perfect blend of pressure and relaxation. Kudos to the team at Massage Oriental!
                p.reviewer-name Carlos Rivera

            // Review 6
            .review
                p.review-body I've become a regular at Massage Oriental, and for good reason. Their attention to detail, combined with authentic Chinese massage practices, makes every visit a therapeutic delight. If you're in Minnetonka, don't miss out on this gem!
                p.reviewer-name Ella Fitzgerald
